.main-grid{
	display: grid;
	height: 900px;
	width: 1800px;
	grid-template: 250px 250px auto / 20% 20% 20% auto;
}
.box-a{
	display: grid;
	background-color: #8B929B;
	grid-area: 1 / 1 / span 3 / span 3;
	grid-template: 250px 250px auto / repeat(3, 1fr);
}
.a-box-a{
	display: grid;
	grid-area: 1 / 1 / span 1 / span 1;
}
.a-box-a1{
	border: 2px solid #CED7E3;
	background-color: white;
}
.a-box-b1{
	border: 2px solid #CED7E3;
	grid-area: 1 / 2 / span 1 / span 1;
	background-color: white;
}
.a-box-c1{
	border: 2px solid #CED7E3;
	background-color: white;
}
.a-box-d1{
	border: 2px solid #CED7E3;
	background-color: white;
}
.a-box-b{
	background-color: white;
	grid-area: 3 / 1 / span 1 / span 2;
	font-size: 80px;
}
.box-b{
	font-size: 180px;
}
.elsa{
	height: 340px;
}